@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: black;
}

/*to work Pixel perfect
#mockup {
  width: 414px;
  height: 337px;
  background-image: url(https://raw.githubusercontent.com/becodeorg/gnt-yu-3-21/master/1.The-Field/5.End-of-Field/2.End-of-Field-Challenge/images/normal-res/simple/interface.09.png?token=APU73LXZJTIWIXRLUFWD37K7BQFSC);

  position: absolute;
  top: 0;
  left: 0;

  opacity: 0.5;
  z-index: 10;
  pointer-events: none;
} */

.widget {
  /* width: calc(332px - 45px - 45px - 6px - 6px); */
  width: calc(414px - 6px - 6px);
  height: calc(337px - 6px - 6px);
  margin: 6px;
  background-color: #3b2795;
  padding: 40px;
  border-radius: 5px;
  color: white;
}

.widget h2 {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  margin-left: 5px;
}

.number {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  padding-top: 8px;
  margin-left: 5px;
}
.small {
  margin: 0;
  font-size: x-large;
  font-weight: bold;
  padding-top: 8px;
  margin-left: 8px;
}
.content {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  padding-top: 15px;
  margin-left: 3px;
}
.widget button {
  margin-top: 26px;
  font-size: 16px;
  font-weight: normal;
  margin-left: 4px;
  border-radius: 5px;
  border-color: #5f4cab;
  background-color: #3b2795;
  height: 48px;
  width: 154px;
  color: white;
  padding-left: 9px;
  padding-top: 3px;
  border-style: solid;
  font-family: monospace;
}
